table{
	margin: auto
}

table table{
	margin: 0
}

td{
	padding: 8px
}

input[type=text], input[type=password], select{
	width: 160px;
}

.msg{
	margin-left: 8px;
	font-size: smaller;
	display: inline-block;
}

.red{
	color: #FF6666
}

.blue{
	color: #6666FF
}
