.cm-top-btn-wrap:after{
	content: "";
	display: block;
	clear: both;
}

.clicked{
	color: #FFFFFF;
	background: #FF9900;
	font-weight: bold;
}

.cm-list-inner{
	width: 100%;
	border-top: 1px solid #CCC;
	margin-bottom: 8px;
}

.cm-list-pc{
	height: 32px;
	border-bottom: 1px solid #CCC;
	padding: 4px;
}

.cm-list-first, .cm-list-second{
	display: inline-block;
	vertical-align: middle;
}

.cm-list-first{
	float: left;
}

.cm-list-first > div{
	width: 384px;
	display: inline-block;
}

.cm-list-first > div:first-child{
	width: 32px;
	text-align: center;
}

.cm-list-second{
	float: right;
}

.cm-list-second > div{
	display: inline-block;
	width: 192px;
	text-align: center;
}

.cm-list-second > div:last-child{
	width: 32px;
}

.cm_list_title{
	padding: 5px;
	text-align: left;
}

/*
.cm_pagination_wrap{
	text-align: center;
}
*/

.cm_pagination_current{
	color: #FF9900;
	font-weight: bold;
	text-decoration: underline;
}

#cm_search_type{
	width: 96px;
	height: 24px;
}

#cm_search_text{
	width: 256px;
	height: 24px;
}

/*
.cm_search_wrap{
	text-align: center;
}
*/

@media screen and (min-width: 1025px){
	/* implement */
}

@media screen and (max-width: 1024px){
	/* implement */
}
